---
import Layout from "../../layouts/Layout.astro";
import CardBlog from "../../components/Cards/CardBlog.astro";

const posts = await Astro.glob("./posts/*.md");
---

<style lang="scss">
  .description {
    margin-block-end: 2rem;
  }
</style>
<Layout pageTitle="posts" pageDescription="Posts de mi blog">
  <div class="description">
    <h1>Blog</h1>
    <p>Entradas subidas al blog.</p>
  </div>

  <section class="posts">
    {
      posts.map((post) => {
        return (
          <CardBlog
            href={post.url}
            title={post.frontmatter.title}
            author={post.frontmatter.author}
            date={post.frontmatter.date}
            resumen={post.frontmatter.resumen}
          />
        );
      })
    }
  </section>
</Layout>
