---
import Layout from "../../layouts/Layout.astro";
import CardBlog from "../../components/Cards/CardBlog.astro";

import { formatBlogPost, formatDate } from "../../js/utils";

const posts = await Astro.glob("./posts/*.md");
const formattedPosts = formatBlogPost(posts, { filterOutFuturePosts: false });
---

<style lang="scss">

  .card {
    margin-bottom: 1.6rem;
  }

  .description {
    margin-block-end: 2rem;
  }
</style>
<Layout pageTitle="posts" pageDescription="Posts de mi blog">
  <div class="description">
    <h1>Blog</h1>
    <p>Entradas subidas al blog.</p>
  </div>
  <section class="posts">
    {
      formattedPosts.map((post) => {
        return (
          <div class="card">
            <CardBlog
              href={post.url}
              title={post.frontmatter.title}
              author={post.frontmatter.author}
              date={post.frontmatter.date}
              resumen={post.frontmatter.resumen}
            />
          </div>
        );
      })
    }
  </section>
</Layout>
