---
import { formatDate } from '../../js/utils';

interface Props {
  href?: string;
  date: string;
  title: string;
  author: string;
  resumen: string;
}

const { href, title, author, date, resumen } = Astro.props;
---

<style lang="scss">
  @use "../../styles/variables";
  .post {
    max-width: fit-content;
    display: block;
    text-decoration: none;
    margin-block-end: 1rem;
    padding: 1rem;
    color: inherit;
    background-color: variables.$background-gradient-boxes-fallback;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0.2rem 0.6rem hsla(0, 0%, 0%, 10%);

    &:hover {
      background-image: none;
      background-color: variables.$color-03;
    }

    &:focus-visible {
      outline-width: 0.2rem;
      outline-color: hsla(0, 0%, 0%, 50%);
    }

    .information {
      display: block;
      font-size: 0.8rem;
      margin-bottom: 0.4rem;
    }

    .title {
      margin-block-end: 0.4rem;
    }

    .author,
    .date {
      font-weight: 500;
    }

    .resumen {
      margin-bottom: 0;
    }
  }
</style>

<a class="post" href={href}>
  <h3 class="title">{title}</h3>
  <span class="information">
    publicado
    <span class="date">{formatDate(date)}</span>
    por
    <span class="author">{author}</span>
  </span>
  <p class="resumen">{resumen}</p>
</a>
