---
import CardBlog from "../components/Cards/CardBlog.astro";
import Layout from "../layouts/Layout.astro";
import sombra001 from "../images/sombra001.jpg";

const posts = await Astro.glob("./blog/posts/*.md");
const post = posts[0];
---

<Layout pageTitle="inicio" pageDescription="Página inicio">
  <style lang="scss">
    
  </style>
  <article>
    <h3>Último post</h3>
    {
      (
        <CardBlog
          href={post.url}
          title={post.frontmatter.title}
          author={post.frontmatter.author}
          date={post.frontmatter.date}
          resumen={post.frontmatter.resumen}
        />
      )
    }
  </article>
</Layout>
